@import '_reset.scss';

$main-background: #000;
$main-fontcolor: #b3e6ff;
$hover-text: #3385ff;

@mixin body {
  text-align:center;
  background-color:$main-background ; 
  color:$main-fontcolor ;
  font-size: 20px ;
}

body {
  @include body;


}

h4 {
	font-size:26px ;
}

p {
	font-size:15px ;
}

.header_wrapper {
	background-image:url('../optimised/headerimage.jpg');
	background-size:cover;
	height: cover;
	padding-bottom: 290px ;
	padding-top:290px ;

	.main_title {
		text-align: center;
		color:$main-fontcolor ;
		font-size: 3.5em ;
	}

	.sub_title {
		@extend .main_title ;
		font-size: 2em ;
	}
}

nav {
	ul {
		list-style-type: none;
		margin: 0 ;
		padding: 0 ;
		overflow: hidden;
		background-color: #333 ;
		position: fixed;
		top: 0;
		width: 100%;
		float:center;
		padding:5px;

   li {
    float:center;
    list-style: none;
    border-right: 1px solid #000099 ;
    display: inline-block;
    padding: 3px 10px ;
    a {
     color: $main-fontcolor ;
     display: block;
     padding: 1px 1px ;
     text-align: center;
     text-decoration:none;
     &:hover {
      background-color:#000;
      color:$hover-text ;
    }
  }
}
}
}

section {
	width:80%;
	padding-left:10%;
	padding-right:10%;
	article {
    background-color:$main-background ;
 }
}

article {
  img {
    max-width: 100%;
  }
}
