body{
text-align:center;
background-color:#000;
color:white;
}

	
.header_wrapper{
	background-image:url('../optimised/headerimage.jpg');
	background-size:cover;
	height: cover;
	padding-bottom: 200px;
	padding-top:200px;

	.main_title{
		text-align: center;
		color: #fff;
	}
	.sub_title{
		@extend .main_title;
	}
}
nav{
	float:center; 
	padding:5px;
	a{
		color:white;
		&:hover{
			color: #E0FFFF;
		}
	}
}

section{
	width:80%;
		padding-left:10%;
		padding-right:10%;
	article:{
	
	}

}